:root {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: #0f0f0f;
	padding: 0px;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.header-bar {
	background-color: white;
	z-index: 9;
	display: flex;	
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	font-size: 5vh;
	height: 15vh;

}

.header-bar *:hover {
	border-bottom: 1vh solid red;
}

h1 {
	text-align: center;
}

.member-profile {
	
	max-width: 40vw;
	text-align: center;
	box-shadow: 0 0 10px 10px rgba(0,0,0,.2);

}

.member-profile * {
	margin: 10%;
}

.member-profile img {
	max-width: 85%;;

}

.member-display {
	background-color: aliceblue;
	display: grid;
	padding: 10%;
	  grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
}

.member-display * {
	margin-right: 10%;
	margin-bottom: 10%;
}

.italic {
	font-style: italic;
}

.centered {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#page-title * {
	font-size: 10vh;

}

#page-title:nth-child(1) {
	font-size: 50%;
}

.theta-tau-title  {
	display: flex;
	flex-direction: row;
}

.theta-tau-title:nth-child(1) {
	color: darkred;
}

.theta-tau-title:nth-child(2) {
	color: gold;
}

.icon img {
	max-width: 30%;
}

.gallery {
	display: flex;
	flex-direction: row;
	width: 100%;
	background-color: white;
	justify-content: space-around ;
	max-width: 95%;

}

.gallery * {
	max-width: 4vw;
}



.fade-in-bottom {
	animation: fadeInBottom 1s ease-in-out;
}

@keyframes fadeInBottom {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.theta-title {
	color: darkred;
	font-family: 'Times New Roman';
}

.tau-title {
	color: gold;
	font-family: 'Times New Roman';
}

#chapter-title {
	font-size: 10vh;
	text-shadow: 0 0 25px #000000;	
	color: white;
}
.chapter-letters {
	font-family: 'Times New Roman';
}

.hor-flex {
	display: flex;
	flex-direction: row;
}

.ver-flex {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.gear-svg {
  position: absolute;
  width: 22vw;
  opacity: 0.5;
  animation: spin 230s linear infinite;
  transform-origin: 50% 50%;
    margin: -12vw;
  transform: translate(-50%, -50%);
}

.gear-bottom {
  bottom: 0%;
}

.gear-left {
  left: 0%;
}

.gear-right {
  right: 0%;
}

.gear-top {
  top: 0%;
}

#carousel-container {
	position: relative;
	overflow: hidden;
	overflow-y: hidden;
	padding: 0px;
	display: flex;
	height: 85vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url(../public/images/everyone_rocket_uspcaled.jpg);
	background-position: top;
	background-size: cover;
	width: 100%;
	transition: all 1s ease-in-out;
	box-shadow: inset 0 0 0 1000px rgba(220,0,0,.2);
}



.member-major {
	max-width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	font-size: 2vh;
}

.member-major img {
	width: 20%;

}


.member-name {
	font-size: 4.5vh;

}

.gallery-list { 

	display: grid;
	padding: 10%;
	  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.gallery-list * {
	max-width: 100%;
}







@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.orientation {
	box-shadow: 0 0 5vh 5vh rgba(0,0,0,.4);
	background-color: white;
	height: max-content;
	z-index: 9;

}
